{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-console": "warn",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}
