{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "eslint.options": {
    "extensions": [
      ".ts",
      ".html"
    ]
  },
  "plugins": [
    "@typescript-eslint",
    "angular"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-console": "warn",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "angular/component-selector": [
      "error",
      "element",
      "app",
      "kebab-case"
    ]
  }
}
